* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* header */
header {
  width: 100%;
  height: 80px;
  padding: 0 8rem;
  background-color: #0c0501;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
/* /header */

/* logo */
.logo-div {
  width: 100px;
}
/* /logo */

/* navbar */
.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  list-style: none;
  padding-right: 3rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: orange;
}

.navbar li:first-child > a {
  color: orange;
}

/* /navbar */

/* main */
main {
  width: 100%;
  position: relative;
}

main::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100vh - 80px);
  left: 0;
  bottom: 0;
  background-color: #0c0501;
  opacity: 0.5;
  z-index: 0;
}

.main-title {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  z-index: 999;
}

.title1 {
  width: 700px;
}

.main-title > h1 {
  font-size: 8rem;
  color: #fff;
}
/* /main */
