* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* header */
header {
  width: 100%;
  height: 80px;
  padding: 0 8rem;
  background-color: #0c0501;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
/* /header */

/* logo */
.logo-div {
  width: 100px;
}
/* /logo */

/* navbar */
.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  list-style: none;
  padding-right: 3rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: orange;
}

.navbar li:first-child > a {
  color: orange;
}

/* /navbar */

/* main */
main {
  width: 100%;
  position: relative;
}

main::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100vh - 80px);
  left: 0;
  bottom: 0;
  background-color: #0c0501;
  opacity: 0.5;
  z-index: 0;
}

.main-title {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  z-index: 999;
}

.title1 {
  width: 700px;
}

.main-title > h1 {
  font-size: 8rem;
  color: #fff;
}
/* /main */

/* shopping section */
.shopping-section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.shopping-bg-image {
  width: 100%;
}

.books-div,
.show-more,
.cart {
  background-color: #1c0f08;
  opacity: 0.8;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}
.books-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  left: 3rem;
  top: 2.5rem;
  width: 50vw;
  height: 90%;
  overflow-y: scroll;
}

.shopping-section h2 {
  font-size: 2rem;
  color: #fff;
}

.show-more {
  width: 40vw;
  height: 60vh;
  right: 3rem;
  top: 2.5rem;
}

.cart {
  padding: 0;
  width: 5rem;
  aspect-ratio: 1;
  position: absolute;
  right: 3rem;
  bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.book {
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border: 1px solid brown;
  border-radius: 10px;
  overflow: hidden;
}

.book-image {
  width: 100%;
  height: 60%;
  z-index: -1;
}

.about-book {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-header {
  display: flex;
  gap: 1rem;
}

.about-header-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-book-title {
  font-size: 1.5rem;
}

.about-book-price {
  font-style: italic;
  font-size: 1.5rem;
  color: goldenrod;
  text-align: right;
}

.about-header-img {
  min-width: 120px;
  max-width: 120px;
  height: 150px;
}

.about-desc {
  font-size: 1rem;
  font-weight: 300;
}

.about-btns {
  display: flex;
  justify-content: space-between;
}

.about-btns > button,
.show-more-btn {
  background-color: #b97753;
  padding: 5px;
  outline: none;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 500;
}

.remove-book-btn {
  padding: 0 5px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  position: absolute;
  right: 1rem;
}

.cart-modal {
  width: 78vw;
  height: 90vh;
  background-color: #1c0f08;
  border: 1px solid #fff;
  color: #fff;
  position: absolute;
  top: 2.5rem;
  left: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.close-cart {
  padding: 0 5px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

div.hide,
button.hide {
  display: none;
}

.cart-book {
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  color: #fff;
}

.cart-book-image {
  width: 300px;
}

.sum-price {
  position: absolute;
  right: 4rem;
  bottom: 10rem;
  font-size: 1.5rem;
  text-align: right;
  color: goldenrod;
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

.order-page-link {
  position: absolute;
  right: 4rem;
  bottom: 8rem;
}

.order-btn[disabled] {
  color: red;
}

.order-btn {
  padding: 5px 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: goldenrod;
  border-radius: 10px;
  color: green;
}
/* /shopping section */
